extends common/layout

block content
  main.main
    h2 Title
    include includes/index/banner
    hr
    p paragraph
    img(src="img/ocean.jpg" alt="ocean")
    ul.list
      li.list__item List Item 1
      li.list__item List Item 2
      li.list__item List Item 3
